html {
  scroll-behavior: smooth;
}

/* Carousel */

.Marquee-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-shrink: 0;
  animation: marquee 15s linear infinite;
  -webkit-animation: marquee 15s linear infinite;
}

.Marquee-tag {
  width: 120px;
  margin-right: 120px;
  margin-left: 120px;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
