html {
  scroll-behavior: smooth;
}

/* Carousel */

.Marquee-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-shrink: 0;
  animation: marquee 15s linear infinite;
  -webkit-animation: marquee 15s linear infinite;
}

.Marquee-tag {
  width: 120px;
  margin-right: 120px;
  margin-left: 120px;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Carousel home */

/* Design three */
.gradient-span-copy {
  text-transform: none;
  text-shadow: 0 1px 20px #3362e4;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(10deg, #042a93, #3362e4 50%, #53b9ec);
  -webkit-background-clip: text;
  background-clip: text;
}

/* Design two */
/* .gradient-span-copy {
  text-transform: none;
  text-shadow: 
  0 1px 20px #3362e4
  0 0 10px #042a93;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(10deg, #042a93, #3362e4 50%, #53b9ec);
  -webkit-background-clip: text;
  background-clip: text;
} */

/* Design one */
/* .gradient-span-copy {
  text-transform: none;
  text-shadow: 1px 1px #3362e4;
  color: #FFF;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(10deg, #042a93, #3362e4 50%, #53b9ec);
  -webkit-background-clip: text;
  background-clip: text;
} */
