.home-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.59),rgba(0, 0, 0, 0.59)), url("/src/assets/img/home/home-image.png");
  min-height: 779px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}